
*.log

SA_course/fig/search/chaudhuri_uist13_attr.key/Index.zip

SA_course/fig/search/Screen Shot 2014-09-08 at 10.40.40 PM.png

*.aux

*.gz(busy)

SA_course/fig/search/chaudhuri_uist13_attr.key/Data/Screen Shot 2014-09-08 at 10.40.40 PM-90.png
